/* start global style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
label{
    display: block;
}
input{
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #999;
    padding: 5px;
    margin-bottom: 20px;
    width: 100%;
    display: block;
    margin-left:40px;
}
h1{
    font-size: 3rem;
    text-align: center;
    color: #0c6126;
    margin-bottom: 2rem;
}
h2{
    text-align: center;
    margin-top: -20px;
    margin-bottom: 20px;
    color: #0c6126;
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    padding: 20px;
    background: #999
}
p{
    color: red;
}
img{
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
}
/* end global style */
/* start framework */
.parent {
    position: relative;
    height: 100vh;
}
.child {
    position: absolute;
    background-color: #fff;
    opacity: 0.7;
    border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 70vw;
}
body{
    background: linear-gradient(rgba(0,0 ,0,0.5),rgba(0,0 ,0,0.5)) ,url("../img/saned.png") no-repeat center ;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -o-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
}
.container{
    padding: 0px 20px;
}
.btn{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #fff;
    background: #0c6126;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover{
    background: #083c18;
}
/* .left{
    float: left;
    width: 50vw;
}
.right{
    float: right;
    width: 50vw;
} */
.form,
.log-right{
    
    padding: 100px 40px;
    border-radius: 5px;
    /* //box-shadow: 0px 0px 5px #fff; */
    width: 50%;
    min-height: 400px;

}
.text-left{
    text-align: left
}
.log-left{
    float: left;
}
.log-right{
    float: right;
    text-align: center;
}
.log-left,.log-right{
    width: 50%;
}
/* end framework */
@media screen and (max-width: 700px) {
    .child {
        position: unset;
        margin: 20px;
      transform: translate(0, 0);
    }
    .child{
        min-width: 90vw;
    }
    img{
        position: unset;
    }
    h2{
        position: unset;
        padding: 10px;
    }
    .form,
    .log-right{
        padding: 15px 10px;
        min-height: auto;
    }
    .log-right,.log-left{
        float: none;
        width: 100%;
    }
}
